<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/iconfont.css" />

  <title>WWT后台管理系统</title>
</head>

<body>
  <div class="container rmPaddin">
    <!-- 头部 -->
    <%- include('./common/head.ejs') %>
    <!-- 内容 -->
    <div class="main">
      <div class="m-left">
        <%- include('./common/menu.ejs') %>
      </div>
      <div class="m-right">
        <!-- 蒙版 -->
        <div class="masking"></div>
        <div class="mainR_box">
          <!-- 新增手机 -->
          <div class="add">
            <button type="button" class="btn btn-primary btn-lg addPhoneBtn">
              新增手机
            </button>
            <div class="addItem_box">
              <h2 class="title">新增手机</h2>
              <form class="form-horizontal">
                <div class="form-group setMargin">
                  <label for="_name" class="col-sm-2 setCol-sm-2 control-label">名称</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="_name" placeholder="请输入手机名称">
                  </div>
                </div>
                <div class="form-group setMargin">
                  <label class="col-sm-2 setCol-sm-2 control-label">品牌</label>
                  <div class="col-sm-10">
                    <select class="form-control">
                      <option>苹果</option>
                      <option>小米</option>
                      <option>华为</option>
                      <option>vivo</option>
                      <option>荣耀</option>
                      <option>三星</option>
                      <option>魅族</option>
                      <option>OPPO</option>
                      <option>诺基亚</option>
                      <option>联想</option>
                      <option>索尼</option>
                    </select>
                  </div>
                </div>
                <div class="form-group setMargin">
                  <label for="_name1" class="col-sm-2 setCol-sm-2 control-label">官方指导价</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="_name1" placeholder="请输入官方指导价">
                  </div>
                </div>
                <div class="form-group setMargin">
                  <label for="_name2" class="col-sm-2 setCol-sm-2 control-label">二手回收价</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="_name2" placeholder="请输入二手回收价">
                  </div>
                </div>
                <div class="form-group setMargin">
                  <label class="col-sm-2 setCol-sm-2 control-label">图片上传</label>
                  <div class="col-sm-10">
                    <input type="file" />
                  </div>
                </div>
                <div class="btns">
                  <button type="submit" class="btn btn-primary sureBtn">确定</button>
                  <button type="button" class="btn btn-default cancelBtn">取消</button>
                </div>
              </form>
            </div>
          </div>
          <!-- 表单 -->
          <div class="bs-example">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>图片</th>
                  <th>手机型号</th>
                  <th>手机品牌</th>
                  <th>官方指导价</th>
                  <th>二手回收价</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="setTDLineH" scope="row">1</th>
                  <td>
                    <img class="setSize" src="/images/phone/iphoneX.jpg" alt="iphoneX" />
                  </td>
                  <td class="setTDLineH">苹果 iPhone X</td>
                  <td class="setTDLineH">苹果</td>
                  <td class="setTDLineH">¥6688</td>
                  <td class="setTDLineH">¥4688</td>
                  <td class="setTDLineH">
                    <a class="td-update" href="##">修改</a>&ensp;&ensp;<a class="td-del" href="##">删除</a>
                  </td>
                </tr>
               
              </tbody>
            </table>
          </div>
          <!-- 分页 -->
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- 尾部 -->
    <%- include('./common/foot.ejs') %>
  </div>
  
</body>

</html>
<script src="/js/jquery.min.js"></script>
<script src="/js/common.js"></script>