<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <!-- <link rel="stylesheet" href="/css/login.css" /> -->
  <link rel="stylesheet" href="/css/iconfont.css" />
  <link rel="stylesheet" href="/css/register.css" />
  <title>注册</title>
</head>

<body>
  <div class="container table-bordered marginAutoBox marginAutoBox_rsg">
    <div class="marginAuto">
      <h1 class="logo">WWT后台管理系统</h1>
      <h2 class="title">注册</h2>
      <form class="form-horizontal" method="POST" action="/users/register">
        <div class="form-group">
          <p class="rgs_title"><i class="iconfont">&#xe663;</i>姓名:</p>
          <input type="text" class="form-control username" name="username" />
          <p class="errHint"><i>*</i>请输入4~10位的用户名，可以是中文或字母</p>
        </div>
        
        <div class="form-group">
          <p class="rgs_title">
            <i class="iconfont">&#xeae6;</i>密码:<i class="lookpwd iconfont" title="查看密码">&#xe61c;</i>
          </p>

          <input type="password" class="form-control pwd" name="password"  />
          <p class="errHint">
            <i>*</i>请输入4~12位密码，不能以特殊字符或数字开头
          </p>
        </div>
        <div class="form-group">
          <p class="rgs_title">
            <i class="iconfont">&#xe6c4;</i>确认密码:<i class="looksurepwd iconfont" title="查看密码">&#xe61c;</i>
          </p>
          <input type="password" class="form-control surePwd" />
          <p class="errHint"><i>*</i>请再次输入密码，两次密码需要一致</p>
        </div>
        <div class="form-group">
          <p class="rgs_title"><i class="iconfont">&#xe631;</i>昵称:</p>
          <input type="text" class="form-control nickname" name="nickname"/>
          <p class="errHint"><i>*</i>昵称请输入2~4位的中文</p>
        </div>
        <div class="form-group">
          <p class="rgs_title"><i class="iconfont">&#xe610;</i>手机号:</p>
          <input type="text" class="form-control phone" name="phone" />
          <p class="errHint"><i>*</i>请输入有效的手机号码</p>
        </div>
        <div class="form-group">
          <p class="rgs_title"><i class="iconfont">&#xe640;</i>年龄:</p>
          <input type="text" class="form-control age" name="age" />
          <p class="errHint">请输入年龄</p>
        </div>
        <div class="form-group">
          <div class="radio">
            <i class="rgs_title"><i class="iconfont">&#xe7f8;</i>性&ensp;&ensp;别:</i>
            <label>
              <input type="radio" name="sex" value="男" checked />男
            </label>
            <label>
              <input type="radio" name="sex" value="女" />女
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <i class="rgs_title"><i class="iconfont">&#xe63c;</i>管理员:</i>
            <label>
              <input type="radio" name="isAdmin" value="是" />是
            </label>
            <label>
              <input type="radio" name="isAdmin" value="否" checked />否
            </label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-block btn_margin">
            注册
          </button>
          <a class="whereGo fl" href="/">返回首页</a>
          <a class="whereGo fr" href="/login.html">返回登录</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
<script src="./js/jquery.min.js"></script>
<script src="./js/register.js"></script>