@charset "UTF-8";
html,
body {
  height: 100%;
  color: #f4ffff;
}

body {
  background: url("/images/login_bg1.jpg");
  display: flex;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  font-family: "微软雅黑", "宋体", Arial;
}

.rmPaddin {
  padding: 0;
}

.head {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("/images/home_h_bg.jpg");
}
.head .logo {
  color: #f4ffff;
  font-weight: bold;
  padding-left: 35px;
  font-size: 24px;
  font-family: "微软雅黑";
}
.head .logo:hover {
  color: #eee;
  text-decoration: none;
}
.head .h-right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.head .h-right p {
  color: #f4ffff;
}
.head .h-right .btn {
  margin-left: 10px;
}
.head .h-right .btnHide {
  display: none;
}
.head .h-right .btnHide a {
  color: #fff;
}
.head .h-right .btnHide a:hover {
  text-decoration: none;
}

.foot {
  height: 50px;
  line-height: 50px;
  background: #24292d;
  text-align: center;
}

.main {
  flex: 1;
  display: flex;
  height: 100%;
  background: #f8f8f8;
}

.m-left {
  background: #283440;
  width: 250px;
  height: 100%;
}
.m-left a {
  color: #f4ffff;
  font-size: 18px;
}
.m-left a:hover {
  text-decoration: none;
  color: #fff;
  background: #0661a7;
  display: block;
  transition: all 0.1s;
}
.m-left li {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #1b2733;
  text-align: center;
}

.m-right {
  position: relative;
  flex: 1;
  color: #24292d;
}

.mainR_box {
  padding: 10px;
}

.masking {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 98;
  display: none;
}

.marginAutoBox {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  width: 40%;
  height: 60%;
  border-radius: 5%;
  align-self: center;
}

.marginAutoBox_rsg {
  height: 95%;
}

.marginAuto {
  align-self: center;
}
.marginAuto .logo,
.marginAuto .title {
  text-align: center;
  margin: 10px 0;
}

.btn_margin {
  margin-top: 20px;
}

.whereGo {
  display: block;
  margin-top: 20px;
  text-decoration: underline;
  color: #0a5ca5;
}
.whereGo:hover {
  color: #f00;
}

.rgs_title {
  position: relative;
  margin-bottom: 5px;
}
.rgs_title i {
  margin-right: 5px;
}

.table {
  text-align: center;
}
.table th {
  text-align: center;
  background: #eee;
}
.table .td-del {
  color: red;
}
.table .setSize {
  width: 100px;
  height: 100px;
}

.form-inline {
  padding: 20px 0;
}

.table-hover > tbody > tr:hover {
  cursor: pointer;
  background: #9999ff;
}

.pagination {
  padding: 20px 20px 0 0;
  display: flex;
  justify-content: flex-end;
}

.add {
  padding: 20px;
  margin-bottom: 10px;
}

.addItem_box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 99;
  width: 500px;
  height: 60%;
  padding: 30px;
  border: 1px solid #f4ffff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5%;
  border-radius: 5%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  display: none;
}
.addItem_box .title {
  text-align: center;
  margin-bottom: 30px;
}

.addItem_box_brand {
  height: 40%;
}

.btns {
  position: absolute;
  right: 20px;
  bottom: 50px;
}
.btns .btn {
  outline: none;
  width: 120px;
  margin-left: 10px;
}

.setMargin {
  margin-bottom: 30px;
}

.setCol-sm-2 {
  padding: 0;
}

.table > tbody > tr > .setTDLineH {
  line-height: 100px;
}

.table > tbody > tr > .setTDLineH_brand {
  line-height: 53px;
}
