<div class="head">
  <a class="logo" href="/">WWT后台管理系统</a>
  <div class="h-right">
    <p>欢迎您 - 温维太(管理员)</p>
    <button class="btn btn-primary iconfont">&#xe618;</button>
    <button class="btn btn-danger iconfont btnHide"><a href="/login.html">登录</a></button>
  </div>
</div>


<script src="./js/jquery.min.js"></script>
<script src="./js/head.js"></script>