<ul>
    <li><a href="/users" class="iconfont">&#xe63f;&ensp;用户管理</a></li>
    <li><a href="/phone.html" class="iconfont">&#xe610;&ensp;手机管理</a></li>
    <li><a href="/brand.html" class="iconfont">&#xe671;&ensp;品牌管理</a></li>
</ul>